/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #083b4c;
}

h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
}
#ms_container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
    height: 70vh;
}

.square {
    width:  calc( (100% / 7) - 10px);
    height: 40%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: #1389b2;
}

.fizz {
    background-color: #0ad6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}